[submodule "Common/submodule/SVPullToRefresh"]
	path = Common/submodule/SVPullToRefresh
	url = https://github.com/samvermette/SVPullToRefresh.git
[submodule "Common/submodule/MNCalendarView"]
	path = Common/submodule/MNCalendarView
	url = https://github.com/min/MNCalendarView.git
